ion-content {
    --background: #00285d;
}

.img {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.cletra {
    color: #f5b21c;
}

.centrar {
    text-align: center;
}

.opacidad{
    opacity: 0.5;
  }

.flecha{ 
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 200px;
}

