<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <br>
  <img class="logo" src="../../assets/icon/Logo_DuocUC.svg.png" alt="">
  <div class="semic"></div>
  <br>
  <h1 class="tit">BIENVENIDO</h1>
  <br>
  <ion-content class="ion-padding">
    <div class="avatar-container">
      <ion-avatar class="avatar">
        <img alt="Silhouette of a person's head" src="../../assets/icon/avatar.png" />
      </ion-avatar>
    </div>
    <ion-label class="nom" color="warning">Bienvenido, {{ username }}</ion-label> <!-- Muestra el nombre de usuario  aaaaa-->
    <div class="arrow-container">
      <img class="flecha" src="../../assets/icon/flechaA.png" alt="">
    </div>
  </ion-content>
</ion-content>